* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.imageContainer {
  content: " ";
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
