%wrapper-parent {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
  width: 100%;
  height: 100%;
}

%wrapped-img {
  display: block;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
  max-block-size: 100%;
  max-inline-size: 100%;
  //*position: absolute;
}

%textStyle {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
}