.header {
    block-size: 27rem;
    background-image: url(https://source.unsplash.com/iOykDIkZLQw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .splash {
        position: absolute;
        top: 0;
        right: 0;
        inline-size: 14.25rem;
        block-size: 14.43rem;
        box-shadow: 0 12px 9px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #979797;
        background-image: radial-gradient(
            circle at 50% 50%,
            #9ce4c9,
            #000000 142%
        );
    }
}
